= render :partial => 'header'

.tools.small
  = render :partial => 'tools'

#main
  #treemap

:javascript
  window.treemapResizeHandler = function() {
    var now = (new Date()).getTime()
    if (treemapNeedsResize && now - treemapNeedsResize > 400) {
      rebuildTreemap()
      window.treemapNeedsResize = null
    }
  }
  $(document).ready(function() {
    var signedIn = #{signed_in? ? 'true' : 'false'}
    var flowTask = #{@flow_task.to_json}
    d3.json(#{@json_url.inspect}, function(tree) {
      buildTreemap(tree, {grouprank: 'phylum'})
      $(window).resize(function() {
        window.treemapNeedsResize = (new Date()).getTime()
        setTimeout('treemapResizeHandler()', 500)
      })
      buildScaleToggles()
    })
    
    if (!signedIn) {
      tricorderDialog('#signin', {title: "Welcome to Tricorder"})
      return
    } else if (!flowTask) {
      tricorderDialog('#upload', {title: "Upload FASTA"})
    }
    
    $('.grouprankcontrol select').change(function() {
      var container = $('#treemap')
      // container = container.hasClass('treemapvis') ? container : container.find('.treemapvis')
      var options = container.data('treemapOptions') || {}
      options.grouprank = $(this).val()
      container.data('treemapOptions', options)
      rebuildTreemap({div: container})
    })
  })
