= render :partial => 'header'

#tools.small
  - if @abundance_url
    %span#scaletoggle.inlineblock
      %input{:type => "radio", :name => "scaletoggle", :id => "scaletoggle_on", :checked => "checked"}
      %label{:for => "scaletoggle_on"}
        Scale by
        = @abundance_input.file_file_name
      %input{:type => "radio", :name => "scaletoggle", :id => "scaletoggle_off"}
      %label{:for => "scaletoggle_off"} Scale by count
  #grouprankcontrol.inlineblock.ui-state-active.ui-button.ui-widget.ui-button-text-only.ui-corner-all
    %span.ui-button-text
      Group by
      = select_tag :grouprank, options_for_select(%w(phylum class order family), :selected => "phylum")

#main
  #treemap

:javascript
  window.treemapResizeHandler = function() {
    var now = (new Date()).getTime()
    if (treemapNeedsResize && now - treemapNeedsResize > 400) {
      rebuildTreemap()
      window.treemapNeedsResize = null
    }
  }
  $(document).ready(function() {
    var signedIn = #{signed_in? ? 'true' : 'false'}
    var flowTask = #{@flow_task.to_json}
    d3.json(#{@json_url.inspect}, function(tree) {
      buildTreemap(tree, {grouprank: 'phylum'})
      $(window).resize(function() {
        window.treemapNeedsResize = (new Date()).getTime()
        setTimeout('treemapResizeHandler()', 500)
      })
      
      if (#{@abundance_url ? 'true' : 'false'}) {
        scaleTreemap(tree, '#{@abundance_url}', {grouprank: $('#grouprank').val(), duration: 0})
        $('#scaletoggle').buttonset()
        $('#scaletoggle_on').click(function() {
          scaleTreemap(tree, '#{@abundance_url}', {grouprank: $('#grouprank').val(), duration: 1000})
        })
        $('#scaletoggle_off').click(function() {
          scaleTreemap(tree, null, {grouprank: $('#grouprank').val(), duration: 1000})
        })
      }
    })
    
    if (!signedIn) {
      tricorderDialog('#signin', {title: "Welcome to Tricorder"})
      return
    } else if (!flowTask) {
      tricorderDialog('#upload', {title: "Upload FASTA"})
    }
    
    $('#grouprank').change(function() {
      var options = $('#treemap').data('treemapOptions') || {}
      options.grouprank = $(this).val()
      $('#treemap').data('treemapOptions', options)
      rebuildTreemap()
    })
  })
