!!!
%html
  %head
    %title
      Tricorder
      = yield :title
    = stylesheet_link_tag "tricorder-black/jquery-ui-1.8.13.custom", 'jquery.pnotify.default', 'jquery.qtip.min', 'index'
    = javascript_include_tag 'd3.min', 'd3.layout', :defaults, 'jquery.pnotify.min', 'jquery.qtip.min', 'jquery.string.1.1.0-min'
    = csrf_meta_tag
    - if flash[:notice]
      :javascript
        $(document).ready(function() {
          $.pnotify({
            pnotify_title: 'Notice',
            pnotify_text: #{escape_javascript(flash[:notice]).inspect},
            pnotify_stack: {"dir1": "down", "dir2": "left", "firstpos1": 50, "firstpos2": 10}
          })
        })
    - if flash[:error]
      :javascript
        $(document).ready(function() {
          $.pnotify({
            pnotify_title: 'Error',
            pnotify_text: #{escape_javascript(flash[:error]).inspect},
            pnotify_type: 'error'
          })
        })
  %body
    = yield
