!!!
%html
  %head
    %title
      Tricorder
      = yield :title
    = stylesheet_link_tag "tricorder-black/jquery-ui-1.8.13.custom", 'index'
    = javascript_include_tag 'd3', 'd3.layout', :defaults
    = csrf_meta_tag
  %body
    = yield
